body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', Helvetica, sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px 250px;
    padding-bottom: 100px;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-links {
    margin-left: auto;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 20px 250px;
    justify-content: space-between;
    padding-bottom: 150px;
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.hero-left-side .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 500px;
}

.hero-left-side .sub-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}

.hero-left-side .button {
    width: 120px;
    background-color: #3882F6;
    padding: 8px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: hidden;
    border-radius: 8px;
    text-align: center;
    margin-top: 5px;
}