body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto', Helvetica, sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 20px 250px;
    padding-bottom: 100px;
}

ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.header-links {
    margin-left: auto;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 20px 250px;
    justify-content: space-between;
    padding-bottom: 150px;
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.hero-left-side .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 500px;
}

.hero-left-side .sub-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}

.hero-left-side .button {
    width: 120px;
    background-color: #3882F6;
    padding: 8px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: hidden;
    border-radius: 8px;
    text-align: center;
    margin-top: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 35px;
    margin-bottom: 100px;
}

.information .info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.information .info-container {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.information .info-container .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.information .info-container .info img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.information .info-container .info .info-text{
    flex: 0 1 auto;
    width: 150px;
    text-align: center;
    font-size: 16px;
    color: rgb(88, 88, 88);
}

.quote {
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 100px 150px;
    gap: 5px;
}

.quote .quote-text {
    flex: 0 1 auto;
    width: 830px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .quote-subtext {
    align-self: flex-end;
    margin-right: 250px;
    color: #1F2937;
    font-weight: bolder;
    font-size: 30px;
}

.ad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 100px;
}

.ad-container {
    display: flex;
    padding: 50px 100px;
    background-color: #3882F6;
    border: hidden;
    border-radius: 8px;
    flex: 0 1 auto;
    width: 800px;
    justify-content: space-between;
}

.ad-container .ad-main-text {
    font-weight: 900;
    font-size: 20px;
    color: #E5E7EB;
}

.ad-container .ad-subtext {
    color: #e5e7ebce;
}

.ad-container .ad-button {
    background-color: #3882F6;
    border: 3px #E5E7EB solid;
    color: #E5E7EB;
    font-size: 18px;
    padding: 7px 30px;
    font-weight: 700;
    border-radius: 8px;
}
